* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-options {
    border: 0.5px solid;
    height: 30px;
}

.address-content {
    border: 0.5px solid;
    height: 30px;
}

.cells-content {
    height: 85vh;
    background-color: aquamarine;
    overflow: auto;
    position: relative;
}

.sheets {
    border: 0.5px solid;
    height: 30px;
}

.row{
    display: flex;
}
.cell{
    border: 0.2px solid;
    min-height: 30px ;   
    width: 100px;
    outline: none;
}

.top-left-cell{
    border-right: 0.1px solid;
    border-bottom: 0.1px solid;
    height: 30px;
    width: 30px;
    background-color: grey;
    position: absolute;
    z-index: 3;
}
.top-row{
    display: flex;
    position: absolute;
    left: 30px;
    background-color: grey;
    z-index: 2
}

.top-row-cell{
    border-bottom: 0.1px solid;
    border-right: 0.1px solid;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-col{
    background-color: grey;
    position: absolute;
    left: 0px;
    top:30px;
    z-index: 2;
}
.left-col-cell{
    height: 30px;
    width: 30px;
    border-bottom: 0.1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top:30px;
    left:30px;
}

#address{
    width:60px;
    text-align: center;
}

/* Day 1 we did ui
Day 2 we did scroll ,db creation,cell display and blur event
Day3 formula handling, updating formula displaying result*/